#container{
    background-color: black;
    color: white;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    font-size: 25px;
}
.card{
    width: 15%;
    height: 20%;
    border: 1px solid rgba(255, 0, 0, 0.367);
    margin: 2% 2%;
}

.card p{
    text-align: center;
    background-color: rgba(55, 255, 0, 0.537);
    border-radius: 15px;
    color: white
}
.card .btn{
    background-color: blue;
    text-align: center;
    width: 100%;
    font-size: 25px;
    border: 1px solid salmon;
    color: wheat;
}
.card .img-div{
 background-color: white;
 width: 100%;
height: 200px;
}